<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sistema de controle de estoque</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="images/logo.png" rel="icon">
    <link href="images/logo.png" rel="apple-touch-icon">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>

<header id="header" class="fixed top-0 left-0 w-full bg-gray-800 text-white">
    <div class="container mx-auto py-4 px-6 flex justify-between items-center">

        <h1 class="text-xl font-bold">Emanoel Company<span class="text-yellow-400">.</span></h1>
        <a href="#about" class="get-started-btn hover:bg-yellow-400 hover:text-gray-800 px-4 py-2 rounded-md">Sair do sistema</a>

    </div>
</header>

<section id="hero" class="flex items-center justify-center bg-gray-900 min-h-screen">
    <div class="container mx-auto text-center text-white">
        <div class="mb-8">
            <h1 class="text-4xl font-bold mb-4">O melhor sistema de controle de estoque<span class="text-yellow-400">.</span></h1>
            <h2 class="text-lg">Controle tudo, até o seu cabelo</h2>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="p-6 bg-gray-800 rounded-lg">
                <i class="ri-store-line text-3xl text-yellow-400"></i>
                <h3 class="text-lg font-semibold mt-4">Cadastrar produto</h3>
            </div>
            <div class="p-6 bg-gray-800 rounded-lg">
                <i class="ri-bar-chart-box-line text-3xl text-yellow-400"></i>
                <h3 class="text-lg font-semibold mt-4">Listar produtos no estoque</h3>
            </div>
            <div class="p-6 bg-gray-800 rounded-lg">
                <i class="ri-calendar-todo-line text-3xl text-yellow-400"></i>
                <h3 class="text-lg font-semibold mt-4">Vender produtos</h3>
            </div>
        </div>
    </div>
</section>

</body>

</html>
