<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sistema de controle de estoque</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="images/logo.png" rel="icon">
    <link href="images/logo.png" rel="apple-touch-icon">

    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

    <link href="vendor/aos/aos.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="css/home.css" rel="stylesheet">
</head>

<body>

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-lg-between">
        <h1 class="logo me-auto me-lg-0"><a href="emanoelcompany">Emanoel Company<span>.</span></a></h1>
        <a href="/logout" class="get-started-btn scrollto">Sair do sistema</a>
    </div>
</header>

<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>O melhor sistema de controle de estoque<span>.</span></h1>
                <h2>Controle tudo de bom em sua vida</h2>
            </div>
        </div>
        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-add-box-line"></i>
                    <h3><a href="#" data-bs-toggle="modal" data-bs-target="#produtoModal">Cadastrar produto</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-list-check"></i>
                    <h3><a href="#" data-bs-toggle="modal" data-bs-target="#listarProdutosModal">Listar produtos no estoque</a>
                    </h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-shopping-bag-line"></i>
                    <h3><a href="#" data-bs-toggle="modal" data-bs-target="#venderProdutoModal">Vender produtos</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-money-dollar-circle-line"></i>
                    <h3><a href="#" data-bs-toggle="modal" data-bs-target="#controleCaixaModal">Controle de caixa</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-bar-chart-grouped-line"></i>
                    <h3><a href="#" id="emitirNotaLink" data-bs-toggle="modal" data-bs-target="#emitirNotaEstoque">Emitir nota fiscal do estoque</a></h3>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Modal cadastro produto-->
<div class="modal fade" id="produtoModal" tabindex="-1" aria-labelledby="produtoModalLabel" aria-hidden="true">
    <form id="produtoForm">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="produtoModalLabel">Cadastrar Produto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <div class="alert alert-secondary text-center" role="alert">
                                <h5>Preencha todos os dados abaixo</h5>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="nome" class="col-md-4 col-form-label">Nome do produto:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="nome" name="nome">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="codigo_produto" class="col-md-4 col-form-label">cod. Produto:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="codigo_produto" name="codigo_produto" oninput="this.value = this.value.toUpperCase()">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="data_entrada" class="col-md-4 col-form-label">Data de entrada:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="data_entrada" name="data_entrada">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="quantidade" class="col-md-4 col-form-label">Quantidade:</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" id="quantidade" name="quantidade">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="preco" class="col-md-4 col-form-label">Preço(Unidade):</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" id="preco" name="preco" step="any"
                                       pattern="[0-9]+([\.,][0-9]+)?"
                                       title="Use apenas números e um ponto ou vírgula como separador decimal">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="categoria" class="col-md-4 col-form-label">Categoria:</label>
                            <div class="col-md-8">
                                <select class="form-control" name="categoria" id="categoria" onchange="document.getElementById('categoria').value=this.value">
                                    <option value="">Selecione uma opção</option>
                                    <option value="ELETRÔNICOS">ELETRÔNICOS</option>
                                    <option value="VESTUARIO E MODA">VESTUARIO E MODA</option>
                                    <option value="ALIMENTOS E BEBIDAS">ALIMENTOS E BEBIDAS</option>
                                    <option value="CASA E DECORAÇÃO">CASA E DECORAÇÃO</option>
                                    <option value="SAÚDE E BELEZA">SAÚDE E BELEZA</option>
                                    <option value="ESPORTES E FITNESS">ESPORTES E FITNESS</option>
                                    <option value="LIVROS E MATERIAIS DE ESCRITÓRIO">LIVROS E MATERIAIS DE ESCRITÓRIO</option>
                                    <option value="BRINQUEDOS">BRINQUEDOS</option>
                                    <option value="JOGOS">JOGOS</option>
                                    <option value="AUTOMOTIVO">AUTOMOTIVO</option>
                                    <option value="FERRAMENTAS E EQUIPAMENTOS">FERRAMENTAS E EQUIPAMENTOS</option>
                                    <option value="OUTROS">OUTROS</option>
                                </select>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="fornecedor" class="col-md-4 col-form-label">Fornecedor:</label>
                            <div class="col-md-8">
                                <select class="form-control" name="fornecedor" id="fornecedor" onchange="document.getElementById('fornecedor').value=this.value">
                                    <option value="">Selecione uma opção</option>
                                    <option value="ELECTROBRASIL">ELECTROBRASIL</option>
                                    <option value="MODABRASIL">MODABRASIL</option>
                                    <option value="SABORES DO BRASIL">SABORES DO BRASIL</option>
                                    <option value="DECORAÇÃO NACIONAL">DECORAÇÃO NACIONAL</option>
                                    <option value="BELEZA BRASILEIRA">BELEZA BRASILEIRA</option>
                                    <option value="ESPORTE E SAÚDE DO BRASIL">ESPORTE E SAÚDE DO BRASIL</option>
                                    <option value="LIVRARIA BRASILEIRA">LIVRARIA BRASILEIRA</option>
                                    <option value="BRINQUEDOS NACIONAIS">BRINQUEDOS NACIONAIS</option>
                                    <option value="JOGOS DO BRASIL">JOGOS DO BRASIL</option>
                                    <option value="AUTO BRASIL">AUTO BRASIL</option>
                                    <option value="FERRAMENTAS NACIONAIS">FERRAMENTAS NACIONAIS</option>
                                    <option value="OUTROS">OUTROS</option>
                                </select>
                            </div>
                        </div>

                        <!---->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </div>
                    </form>

                    <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert"
                         aria-live="assertive" aria-atomic="true"
                         style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <div class="d-flex">
                            <div class="toast-body">
                                Produto cadastrado com sucesso!
                            </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                    <div id="toastErro" class="toast align-items-center text-white bg-danger border-0" role="alert"
                         aria-live="assertive" aria-atomic="true"
                         style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <div class="d-flex">
                            <div class="toast-body">
                                Erro ao cadastrar produto!
                            </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- Modal de Listagem de Produtos -->
<div class="modal fade" id="listarProdutosModal" tabindex="-1" aria-labelledby="listarProdutosModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="listarProdutosModalLabel">Produtos no Estoque</h5>
                <button type="submit" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="container">
                        <div class="row mb-3">
                            <!-- Pesquisar por nome -->
                            <div class="col-4 d-flex align-items-center justify-content-between">
                                <label class="label-control mr-1">Nome:</label>
                                <input name="nomepesquisa" type="text" class="form-control mr-1">
                                <button type="button" class="btn btn-secondary" onclick="pesquisarPorNome()">Buscar</button>
                            </div>
                            <!-- Pesquisar por categoria -->
                            <div class="col-4 d-flex align-items-center justify-content-between">
                                <label for="nomecategoria" class="label-control mr-1">Categoria:</label>
                                <select class="form-control mr-1" name="nomecategoria" id="nomecategoria">
                                    <option value="">Selecione uma opção</option>
                                    <option value="ELETRÔNICOS">ELETRÔNICOS</option>
                                    <option value="VESTUARIO E MODA">VESTUARIO E MODA</option>
                                    <option value="ALIMENTOS E BEBIDAS">ALIMENTOS E BEBIDAS</option>
                                    <option value="CASA E DECORAÇÃO">CASA E DECORAÇÃO</option>
                                    <option value="SAÚDE E BELEZA">SAÚDE E BELEZA</option>
                                    <option value="ESPORTES E FITNESS">ESPORTES E FITNESS</option>
                                    <option value="LIVROS E MATERIAIS DE ESCRITÓRIO">LIVROS E MATERIAIS DE ESCRITÓRIO</option>
                                    <option value="BRINQUEDOS">BRINQUEDOS</option>
                                    <option value="JOGOS">JOGOS</option>
                                    <option value="AUTOMOTIVO">AUTOMOTIVO</option>
                                    <option value="FERRAMENTAS E EQUIPAMENTOS">FERRAMENTAS E EQUIPAMENTOS</option>
                                    <option value="OUTROS">OUTROS</option>
                                </select>
                                <button type="button" class="btn btn-secondary" onclick="pesquisarPorCategoria()">Buscar</button>
                            </div>
                            <!-- Pesquisar por fornecedor -->
                            <div class="col-4 d-flex align-items-center justify-content-between">
                                <label for="fornecedores" class="label-control mr-1">Fornecedor:</label>
                                <select class="form-control mr-1" name="fornecedores" id="fornecedores">
                                    <option value="">Selecione uma opção</option>
                                    <option value="ELECTROBRASIL">ELECTROBRASIL</option>
                                    <option value="MODABRASIL">MODABRASIL</option>
                                    <option value="SABORES DO BRASIL">SABORES DO BRASIL</option>
                                    <option value="DECORAÇÃO NACIONAL">DECORAÇÃO NACIONAL</option>
                                    <option value="BELEZA BRASILEIRA">BELEZA BRASILEIRA</option>
                                    <option value="ESPORTE E SAÚDE DO BRASIL">ESPORTE E SAÚDE DO BRASIL</option>
                                    <option value="LIVRARIA BRASILEIRA">LIVRARIA BRASILEIRA</option>
                                    <option value="BRINQUEDOS NACIONAIS">BRINQUEDOS NACIONAIS</option>
                                    <option value="JOGOS DO BRASIL">JOGOS DO BRASIL</option>
                                    <option value="AUTO BRASIL">AUTO BRASIL</option>
                                    <option value="FERRAMENTAS NACIONAIS">FERRAMENTAS NACIONAIS</option>
                                    <option value="OUTROS">OUTROS</option>
                                </select>
                                <button type="button" class="btn btn-secondary" onclick="pesquisarPorFornecedor()">Buscar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!---->


                <!---->
                <div style="max-height: 500px; overflow-y: auto;">
                    <table class="table table-striped table-dark">
                        <thead>
                        <tr>
                            <th scope="col">#ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Código</th>
                            <th scope="col">Data de Entrada</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Valor total</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Fornecedor</th>
                            <th scope="col">Deletar</th>
                            <th scope="col">Editar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Conteúdo da tabela aqui -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            </div>

            <!-- Toasts aqui -->
            <div id="toastDeletar" class="toast align-items-center text-white bg-success border-0" role="alert"
                 aria-live="assertive" aria-atomic="true"
                 style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <div class="d-flex">
                    <div class="toast-body">
                        Produto deletado com sucesso!
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>

            <div id="toastErroDeletar" class="toast align-items-center text-white bg-danger border-0" role="alert"
                 aria-live="assertive" aria-atomic="true"
                 style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <div class="d-flex">
                    <div class="toast-body">
                        Erro ao cadastrar produto!
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>

            <div  id="toastAtualizado" class="toast align-items-center text-white bg-success border-0" role="alert"
                  aria-live="assertive" aria-atomic="true"
                  style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <div class="d-flex">
                    <div class="toast-body">
                        Produto editado com sucesso!
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>




        </div>
    </div>


    <!-- Modal de Confirmação de Deleção -->
    <div class="modal fade" id="confirmacaoDelecaoModal" tabindex="-1" aria-labelledby="confirmacaoDelecaoModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmacaoDelecaoModalLabel">Confirmar Deleção</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Tem certeza que deseja deletar este produto?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmarDelecao">Deletar</button>
                </div>

            </div>
        </div>
    </div>


    <!-- Modal edição produto-->
    <div class="modal fade" id="editarProdutoModal" tabindex="-1" aria-labelledby="editarProdutoModalLabel"
         aria-hidden="true">
        <form id="editarProdutoForm">
            <div class="modal-dialog">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarProdutoModalLabel">Editar Produto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <div class="alert alert-secondary text-center" role="alert">
                                <h5>Atualize os dados necessários</h5>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="nome" class="col-md-4 col-form-label">Id produto:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="produto_id" name="produto_id" readonly="readonly">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="nome" class="col-md-4 col-form-label">Nome do produto:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="produto_nome" name="nome">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="codigo_produto" class="col-md-4 col-form-label">cod. Produto:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="produto_codigo_produto" name="codigo_produto" oninput="this.value = this.value.toUpperCase()">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="data_entrada" class="col-md-4 col-form-label">Data de registro:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="produto_data_entrada" name="data_entrada" readonly="readonly">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="quantidade" class="col-md-4 col-form-label">Quantidade:</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" id="produto_quantidade" name="quantidade">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="preco" class="col-md-4 col-form-label">Preço(Unidade):</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" id="produto_preco" name="preco" step="any"
                                       pattern="[0-9]+([\.,][0-9]+)?"
                                       title="Use apenas números e um ponto ou vírgula como separador decimal">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="categoria" class="col-md-4 col-form-label">Categoria:</label>
                            <div class="col-md-8">
                                <select class="form-control" name="categoria" id="produto_categoria" onchange="document.getElementById('categoria').value=this.value">
                                    <option value="">Selecione uma opção</option>
                                    <option value="ELETRÔNICOS">ELETRÔNICOS</option>
                                    <option value="VESTUARIO E MODA">VESTUARIO E MODA</option>
                                    <option value="ALIMENTOS E BEBIDAS">ALIMENTOS E BEBIDAS</option>
                                    <option value="CASA E DECORAÇÃO">CASA E DECORAÇÃO</option>
                                    <option value="SAÚDE E BELEZA">SAÚDE E BELEZA</option>
                                    <option value="ESPORTES E FITNESS">ESPORTES E FITNESS</option>
                                    <option value="LIVROS E MATERIAIS DE ESCRITÓRIO">LIVROS E MATERIAIS DE ESCRITÓRIO</option>
                                    <option value="BRINQUEDOS">BRINQUEDOS</option>
                                    <option value="JOGOS">JOGOS</option>
                                    <option value="AUTOMOTIVO">AUTOMOTIVO</option>
                                    <option value="FERRAMENTAS E EQUIPAMENTOS">FERRAMENTAS E EQUIPAMENTOS</option>
                                    <option value="OUTROS">OUTROS</option>
                                </select>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="fornecedor" class="col-md-4 col-form-label">Fornecedor:</label>
                            <div class="col-md-8">
                                <select class="form-control" name="fornecedor" id="produto_fornecedor" onchange="document.getElementById('categoria').value=this.value">
                                    <option value="">Selecione uma opção</option>
                                    <option value="ELECTROBRASIL">ELECTROBRASIL</option>
                                    <option value="MODABRASIL">MODABRASIL</option>
                                    <option value="SABORES DO BRASIL">SABORES DO BRASIL</option>
                                    <option value="DECORAÇÃO NACIONAL">DECORAÇÃO NACIONAL</option>
                                    <option value="BELEZA BRASILEIRA">BELEZA BRASILEIRA</option>
                                    <option value="ESPORTE E SAÚDE DO BRASIL">ESPORTE E SAÚDE DO BRASIL</option>
                                    <option value="LIVRARIA BRASILEIRA">LIVRARIA BRASILEIRA</option>
                                    <option value="BRINQUEDOS NACIONAIS">BRINQUEDOS NACIONAIS</option>
                                    <option value="JOGOS DO BRASIL">JOGOS DO BRASIL</option>
                                    <option value="AUTO BRASIL">AUTO BRASIL</option>
                                    <option value="FERRAMENTAS NACIONAIS">FERRAMENTAS NACIONAIS</option>
                                    <option value="OUTROS">OUTROS</option>
                                </select>
                            </div>
                        </div>

                        <div id="toastErroAtualizar" class="toast align-items-center text-white bg-danger border-0" role="alert"
                             aria-live="assertive" aria-atomic="true"
                             style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                            <div class="d-flex">
                                <div class="toast-body">
                                    Erro ao editar produto!
                                </div>
                                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary" id="salvarAlteracoes">Salvar Alterações</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<!-- Modal controle de caixa -->
<div class="modal fade" id="controleCaixaModal" tabindex="-1" aria-labelledby="controleCaixaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="controleCaixaModalLabel">Controle de caixa</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="max-height: 500px; overflow-y: auto;">
                    <table class="table table-striped table-dark">
                        <tbody>
                        <tr>
                            <td>Total em dinheiro do estoque (R$):</td>
                            <td><input type="text" id="totalEstoque" readonly></td>
                        </tr>
                        <tr>
                            <td>Total de produtos no estoque:</td>
                            <td><input type="text" id="totalProduto" readonly></td>
                        </tr>
                        <tr>
                            <td>Total de unitário de produtos:</td>
                            <td><input type="text" id="totalUnitario" readonly></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal vender produto-->
<div class="modal fade" id="venderProdutoModal" tabindex="-1" aria-labelledby="venderProdutoModalLabel"
     aria-hidden="true">
    <form id="venderProdutoForm">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="venderProdutoModalLabel">Vender Produto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <div class="alert alert-secondary text-center" role="alert">
                            <h5>Preencha os dados necessários</h5>
                        </div>
                    </div>

                    <div id="mensagemVendaProduto" class="toast align-items-center text-white border-0" role="alert"
                         aria-live="assertive" aria-atomic="true"
                         style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <div class="d-flex text-bg-success">
                            <div class="toast-body ">
                                Venda realizada com sucesso !
                            </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>

                    <div id="vendaDadosInsuficiente" class="toast align-items-center text-white border-0" role="alert"
                         aria-live="assertive" aria-atomic="true"
                         style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <div class="d-flex text-bg-danger">
                            <div class="toast-body ">
                                Venda não realizada : Dados Insuficiente !
                            </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>

                    <div id="mensagemErroVendaProduto" class="toast align-items-center text-white bg-danger border-0" role="alert"
                         aria-live="assertive" aria-atomic="true"
                         style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <div class="d-flex">
                            <div class="toast-body">
                                Erro ao vender produto!
                            </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>

                    <form action="" method="post">
                        <label >Pesquisar por nome:</label>
                        <input name="pesquisaVender" type="text" >
                        <button type="button" class="bg-gray text-black" onclick="pesquisarPorNomeVender()">Buscar</button>
                    </form>

                    <div class="flex">
                        <div class="w-1/2 p-4">
                            <div id="inputs-container">
                                <div class="row input-row">
                                    <div class="col">
                                        <label for="quantidade">Quantidade:</label>
                                        <input type="number" class="form-control" id="quantidade_venda" name="quantidade">
                                    </div>
                                    <div class="col">
                                        <label for="produto_id">ID:</label>
                                        <input type="text" class="form-control"  id="id_venda" name="produto_id">
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer mt-3">
                                <button type="button" id="remove-row" class="btn btn-danger remove-row">Remover</button>
                                <button type="button" id="add-row" class="btn btn-primary add-row">Adicionar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary" id="vender_salvarAlteracoes">Vender</button>
                            </div>
                        </div>

                        <div class="w-1/2">
                            <div class="modal-footer-two mt-3 mx-3">
                                <div class="modal-body">
                                    <div style="max-height: 500px; overflow-y: auto;">
                                        <table class="table table-striped table-dark">
                                            <thead>
                                            <tr>
                                                <th scope="col">#ID</th>
                                                <th scope="col">Nome</th>
                                                <th scope="col">Quantidade</th>
                                                <th scope="col">Preço</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- Conteúdo da tabela aqui -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="vendor/purecounter/purecounter_vanilla.js"></script>
<script src="vendor/aos/aos.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/glightbox/js/glightbox.min.js"></script>
<script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="vendor/swiper/swiper-bundle.min.js"></script>
<script src="vendor/php-email-form/validate.js"></script>

<script src="js/main.js"></script>
<script src="js/requisicaoHome.js"></script>


</body>

</html>